.box {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  display: grid;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(blue, white); */
  /* background: linear-gradient(to bottom, black, white); */
  /* background: linear-gradient(red, orange, yellow, blue, green, black, white); */
  background: radial-gradient(red, yellow);
}

h1 {
text-shadow: black 50px 50px 50px;
}
